<html>
	<head>
		<!-- <link rel="stylesheet" href="application.css" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'> -->

		<title>Clashing Hashes</title>
	</head>
	<body>
		<div>
			<h1>Follower Clash</h1>
			<form action="/twitter" method="post">
				<label>Twitter User 1:</label>
				<input type="text" name="user1" placeholder="first @user" autofocus><br>
				<label>Twitter User 2:</label>
				<input type="text" name="user2" placeholder="second @user"><br>
				<input type="submit" value="Submit">
			</form>
		</div>
	</body>

</html>